@import "../../global.scss";

.pointerArrow{

    bottom: 10%;
a {
    // position: relative;
     color: white;

    img {
      width: 60px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
   
  }
  // @include mobile {
  //   visibility: hidden;
  //  }

}
