@import "../../global.scss";

.navbar {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  //box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
  
  .wrapper {
    padding: 1px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        margin-right: 30px;
        color: $mainColor ;

        &:hover{
          color: crimson;
        }
        
        @include mobile{
          font-size: 30px;
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;

        @include mobile{
          display: flex;
        }

        .icon {
          font-size: 25px;
          margin-right: 5px;
          
          &:hover{
            color: crimson;
            transition: 0.6s ease-in-out;
          }

        }
       a{
          color: inherit;
        }

        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;  
        }

      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);


    .logo{
      color: white !important;
    }

    .hamburger {

      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
