@import "../../global.scss";



.section{
  background-color: $mainColor;
  height: 100%;
  position: relative;

  a {
    position: absolute;
    bottom: 0;
    left: 45%;
    color: #fff;
    margin-bottom: 1rem;

    img {
      width: 50px;
      animation: arrowBlink 2s infinite;
      transform: rotate(90deg);
    }
  }


    
    .box-left{  
      display: flex;
       float: left;
        position: absolute;
        left: 5%;
        padding-top: 5%;
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        z-index: 1;


        h1{
            font-size: 53px;
            color: #fff;
            &:before{
              content: "";
              position: absolute;
              height: 2px;
              background-color: crimson;
              width: 100px;
             left: 0;
            }
        }
        p{
            color: #fff;
            font-weight: 300;
            min-width: fit-content;
        }

        a {
          position: absolute;
          bottom: 40px;
          left: 40%;
    
          img {
            width: 5px;
            animation: arrowBlink 2s infinite;
          }
    
          @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
          }
  }

        @include mobile {
          position: relative;
          left: auto;
          }
        
    }
    .box-right{  
      display: flex;
      float: right;
       position: absolute;
       right: 5%;
       padding-top: 5%;
       width: 50%;
       vertical-align: middle;
       display: table-cell;
       max-height: 90%;
       z-index: 1;
       justify-content: center;


      h1{
          font-size: 53px;
          color: #fff;
      }
      p{
          color: #fff;
          font-weight: 300;
          min-width: fit-content;
      }

      @include mobile {
        position: relative;
        left: auto;
        }


        .skills-icons{
        
          display: grid;
         // flex-direction: column;
         grid-template-columns: max-content;
          font-size: 3rem;
          color: white;
          margin-left: 20%; 

            span{
             // margin: 3px;
             margin-top: 5px;
                &:hover{
                  font-size: 3.5rem;
                  color: crimson;
                  transition: all .5s ease-out;
                }
                }
        }

       
      }
     


    }